@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$colors: (
    cyan: #2ab2af,
    brightYellow: #c0df34,
    lightGray: #e5eff5,
    grayishBlue: #98a6bd,
    white: #fff
);

@function color($color) {
    @return map-get($map: $colors, $key: $color);
}

$desktop: 760px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    };
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: color(lightGrey);
}

.container {
    // width: 80%;
    // max-width: 900px;
    border-radius: 10px;
    box-shadow: 0px 0px  10px #00000042;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

h1,h3 {
    font-size: 20px;
    margin-bottom: 1.2rem;
}

.one {
    background-color: color(white);
    padding: 2em;
    border-radius: 10px 10px 0 0; 
    
    h1 {
        color: color(cyan);
        margin-bottom: 2rem;
    }

    h3 {
        color: color(brightYellow);
        margin-bottom: 1rem;
    }

    p {
        color: color(grayishBlue);
        line-height: 1.8;
    }
}

.two {
    background-color: color(cyan);
    padding: 2em;
    color: color(white);
   

    span {
        font-weight: 700;
        font-size: 2rem;
    }

    .spanSecond {
        font-size: 16px;
        font-weight: 100;
        margin-left: 15px;
    }

    .rate {
        display: flex;
        align-items: center;
        margin-bottom: .8rem;
    }

    button {
        width: 100%;
        padding: 1em;
        color: color(white);
        background-color: color(brightYellow);
        border: 0;
        border-radius: 5px;
        font-weight: 700;
        font-size: 15px;
        margin-top: 2rem;
        cursor: pointer;
        box-shadow: 0px 10px 10px #0000003a;
    }

    button:hover {
        opacity: 0.8;
    }
}

.three {
    background-color: rgb(67, 211, 211);
    color: color(white);
    padding: 2em;
    border-radius: 0 0 10px 10px;
    line-height: 1.8;

}

@include desktop {
    .container {
        width: 80%;
        max-width: 900px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .8fr 1fr;
    }

    .one {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        h1 {
            margin-top: 2%;
        }

        p {
            max-width: 800px;
        }
    }

    .two {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;

        border-radius: 0 0 0 10px;
    }

    .three {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;

        border-radius: 0 0 10px 0px;
    }
}



footer {
    display: flex;
    justify-content: center;
    
    p {
        align-self: baseline;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }